<div class="row">
  <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="{{ url_for('index') }}">
                Islandora Camp CO 2014 
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="{{ url_for('slide', name='fedora-4') }}">Fedora 4</a></li>
            <li><a href="{{ url_for('slide', name='bibframe') }}">BIBFRAME Editor &amp; MARC Conversions</a></li>
            <li><a href="{{ url_for('slide', name='schema-org-editor') }}">Schema.org Editor</a></li>
            <li><a href="{{ url_for('slide', name='references') }}">References</a></li>
          </ul>
        </section>
      </nav>
  </div>
</div>
