<div class="row">
  <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="{{ url_for('index') }}">
                Islandora Camp CO 2014 
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/fedora-4">Fedora 4</a></li>
            <li><a href="/bibframe-editor">BIBFRAME Editor</a></li>
            <li><a href="/schema-org-editor">Schema.org Editor</a></li>
            <li><a href="/references">References</a></li>
          </ul>
 
          <ul class="right">
            <li class="search">
              <form>
                <input type="search">
              </form>
            </li>
 
            <li class="has-button">
              <a class="small button" href="#">Search</a>
            </li>
          </ul>
        </section>
      </nav>
  </div>
</div>
