{% extends 'base.html' %}

{% block more_css %}
<style>
.main-feature { 
  background: url({{ url_for('static', filename='img/palmer-park-blue.png') }}) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.main-feature h1 {
 color: rgb(165,0,0);
 font-family: Garamond;
 font-size: 3em;
 font-weight: bold;
 margin-bottom: 1em;
 text-shadow: 0px 2px 3px #555; 
 text-align: center;
}

.main-feature h2 {
 color: rgba(0,0,255, 0.25); 
 font-weight: bold;
 margin-right: 1em;
 margin-bottom: 2em;
 text-align: right;
}

.main-feature p {
 color: rgb(252, 246, 222);
 margin-right: 1em;
 margin-left: 1em;
 //text-align: center;
}
</style>
{% endblock %}

{% block main %}
  {% include 'snippets/top-bar.html' %}     
 
  <div class="row">
    <div class="large-12 columns">
      <div>
        <div id="featured" class="main-feature">
         <h2>Islandora Camp CO 14 October 2014</h2>
         <h1>Using Fedora 4 as a Bibliographic Linked Data Store</h1>
         <p>Jeremy Nelson<br>Metadata &amp; Systems Librarian<br>Colorado College</p>
        </div>
      </div>
    </div>
  </div><br>
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
     
 
        <div class="large-3 small-6 columns">
          <img src="{{ url_for('static', filename='img/fedora-commons-4-beta.png') }}" />
          <div class="panel"><a href="/fedora-4">Fedora 4</a> is a latest version of 
          the popular Fedora Commons Digital Repository software, the backend for 
          Islandora.
          </div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="{{ url_for('static', filename='img/bibframe-newlogo.png') }}" />
          <div class="panel"><a href="/bibframe">BIBFRAME Linked Data</a>
          is a web-based standalone editor, developed by the Library of 
          Congress Bibliographic Framework (BIBFRAME) Initiative, that has been forked
          to include a node.js Fedora 4 backend. 

          </div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="{{ url_for('static', filename='img/schema-org.png') }}"/>
          <div class="panel"><a href="/schema-org-editor">Schema.org Editor</a> 
           is a Flask-HTML5 application that allows users to add and edit 
           <a href="/references#schema-org">schema.org</a> metadata for
           Fedora Objects.
          </div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=References"/>
          <div class="panel"><a href="/references">References</a>
           List of articles, websites, and books cited in this presentation.

          </div>
          
        </div>
 
     
 
      </div>
    </div>
  </div>
 
 
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
     
 
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <div class="large-6 small-6 columns">
 
            <h4>About this Presentation</h4><hr/>
            <h5 class="subheader">Fedora 4.0 offers exciting new possibilities
            for libraries to expose existing collections as library
            <a href="/references#linked-data">linked data</a></h5>
 
          <div class="show-for-small" align="center">
            <a href="#" class="small radius button" >Launch Fedora 4</a><br>
 
            <a href="#" class="small radius button">Call To Action!</a>
          </div>
 
          </div>
          <div class="large-6 small-6 columns">
            <p><a href="/references#fedora">Fedora Commons</a>, the underlying 
            digital repository server software used by 
            <a href="/references#islandora">Islandora</a>,
            is in current beta release for its next major release, version 4.0. 
            </p>
        </div>
 
        </div>
        </div>
        </div>
 
          <div class="large-4 columns hide-for-small">
 
          <h4>Local Demonstration</h4><hr/>
 
          <a class="large button expand" data-reveal-id="fedora4-demo" href="#">
            Launch Fedora 4
          </a>
 
          <a class="large button expand" data-reveal-id="bfe-demo" href="#">
            Launch BIBFRAME Editor
          </a>
 
           <a class="large button expand" data-reveal-id="schema-org-demo" href="#">
            Launch Schema.org Editor
          </a>

        </div>
 
     
 
      </div>
    </div>
  </div>
 
{% endblock %}
