{% extends 'base.html' %}

{% block slide_title %}References{% endblock %}

{% block main %}
 {% include 'snippets/top-bar.html' %} 


<div class="row">
    <div class="large-12 columns">
      <div class="panel" style="background-color: rgb(181,197,159) !important;">
       <h1>References for</h1> 
       <h3>Using Fedora 4 as a Bibliographic Linked Data Store</h3>

  
      </div>
    </div>
  </div>
   
  <div class="row">
  
     
    <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="{{ url_for('static', filename='img/islandora_camp_co2014.png') }}"/></a>
      </div>
      <h5>Github Repositories</h5>
      <ul>
        <li>Flask Fedora Commons  <a href="https://github.com/jermnelson/flask-fedora-commons">https://github.com/jermnelson/flask-fedora-commons</a></li>
        <li>Schema.org Web Editor <a href="https://github.com/jermnelson/schema-org-editor">https://github.com/jermnelson/schema-org-editor</a></li> 
        <li>BIBFRAME Editor (Fedora fork) <a href="https://github.com/jermnelson/bfe">https://github.com/jermnelson/bfe</a></li>
        <li>TIGER Catalog <a href="https://github.com/Tutt-Library/tiger-catalog">https://github.com/Tutt-Library/tiger-catalog</a></li>
        <li>This presentation: <a href="https://github.com/jermnelson/islandora-camp-colorado">https://github.com/jermnelson/islandora-camp-colorado</a></li>
      </ul>
       <a class="button" href="{{ url_for('static', filename='js/IslandoraColoradoCamp2014.ipynb') }}">IPython Notebook</a>
    </div>
    
     
     
    <div class="large-8 columns">
    {%for reference in references %}
     <div class="row">
        <a name="{{ reference.get('id') }}"></a>
        <div class="large-2 columns small-3">
          <img width="80" height="80" src="{{ reference.get('thumbnail') }}"/></div>
        <div class="large-10 columns">
          <p><strong>{{ reference.get('title') }}</strong> ({{ reference.get('copyright') }}) 
           {% if reference.author|length > 0 %}
           by {% for author in reference.get('author') %}{{ author.get('name') }}{% if not loop.last %},{% endif %}{% endfor %}
           {% endif %}
          </p>
          {% if 'url' in reference %}
          <p>
	   Available at <a href="{{ reference.url }}">{{ reference.url }}</a>.
          </p>
          {% endif %}
        </div>
     </div>
     <hr>
    {% endfor %}

    </div>
     
 
  </div>
 
{% endblock %}

{% block more_js %}
<script src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
<script>
  function ReferenceViewModel() {
   var self = this;
   
  }

  var ref_view_model = new ReferenceViewModel();
  
  ko.applyBindings(ref_view_model);
</script>
{% endblock %}
