{% extends 'base.html' %}

{% block slide_title %}References{% endblock %}

{% block main %}
 {% include 'snippets/top-bar.html' %} 


<div class="row">
    <div class="large-12 columns">
      <div class="panel" style="background-color: rgb(181,197,159) !important;">
        <h1>References</h1>
      </div>
    </div>
  </div>
   
  <div class="row">
  
     
    <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
        <h5><a href="#">References</a></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">Books</a></h5>
          </section>
        </div>
 
      </div>
    </div>
    
     
     
    <div class="large-8 columns">

     <span data-bind="foreach: references"> 
      <div class="row">
        <a data-bind="attr: { name: id }"></a>
        <div class="large-2 columns small-3">
          <img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">
          <p><strong data-bind="text: title"></strong> (<span data-bind="text: copyright"></span>) 
           by {#<!-- ko foreach: author --><span data-bind="text: loadAuthor($data)"></span>
             <!-- /ko -->. #}
            Available at <a data-bind="attr: { href: url}, text: url"></a>.
          </p>
      </div>
      <hr>
     </span>
 
 
    </div>
     
 
  </div>
 
{% endblock %}

{% block more_js %}
<script src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
<script>
  var referenceURIs = [  
    '/Article/bibframe-av-modeling-study-defining-a-flexible-model-for-description-of-audiovisual-resources.json',
    '/WebPage/bibframe.json',
    '/WebPage/getting-started-schema-org.json',
    '/WebPage/schema-org.json' 
  ];

  function loadEntity(uri) {
   reference = {'author': []};
   $.getJSON(uri, 
      function(data) {
       reference['id'] = data['@id'];
       if('headline' in data) {
         reference['title'] = data['headline'][0]['@value'];
       } else {
         reference['title'] = data['name'][0]['@value'];
       }
       if('copyright' in data) {
        reference['copyright'] = data['copyrightYear'][0]['@value'];
       } else {
        reference['copyright'] = 2014;
       }
       if('url' in data) {
        reference['url'] = data['url'][0]['@value'];
       } else {
        reference['url'] = null;
       }
       for(j in data['author']) {
         author_uri = data['author'][j]['@id'].split(".info")[1] + ".json";
         reference['author'].push(author_uri);
       }
    }).done(function() {
      return reference
    });
  }

  function ReferenceViewModel() {
   var self = this;

   self.loadAuthor = function(author_uri) {
    $.getJSON(author_uri, function(author_data) {
        return author_data['name'][0]['@value'];
    });
   }
   self.references = ko.observableArray();
  }

  var ref_view_model = new ReferenceViewModel();
  for(i in referenceURIs) {
     var refURI = referenceURIs[i];
     var reference = null;
     reference = loadEntity(refURI);
     ref_view_model.references.push(reference);
   }
  ko.applyBindings(ref_view_model);
</script>
{% endblock %}
