{% extends 'base.html' %}

{% block main %}
 {% include 'snippets/top-bar.html' %}

 <div class="row">
    <div class="large-12 columns">
      <h1>Schema.org Web Editor</h1>
      <div id="animation">
      </div>
    </div>
  </div>
 
   
 
 
  <div class="row">
 
    <div class="large-3 panel columns">
      <img src="{{ url_for('static', filename='img/schema-org.png') }}">
 
      <h4>What is the Schema.org vocabulary?</h4>
 
      <p>
       "a collection of schemas that webmasters can use to markup HTML pages in 
       ways recognized by major search providers, and that can also be used for 
       structured data interoperability (e.g. in JSON). Search engines including 
       Bing, Google, Yahoo! and Yandex rely on this markup to improve the display 
       of search results, making it easier for people to find the right Web pages."<br>
       <em>Text from schema.org homepage</em>
      <p>
      <hr>
      <div class="row">
        <div class="large-6 columns">
        <a href="http://schema.org/" class="small button">Website</a>
        </div>
 
        <div class="large-6 columns">
        <a href="http://schema.rdfs.org/" class="small button">RDFS</a>
        </div>
 
      </div>
    </div>
 
    <div class="large-9 columns">
      <div class="panel">
      <ul class="button-group">
       <li><a href="#" class="button" data-bind="click: stepOne">Start Editor</a></li>
       <li><a href="#" class="button" data-bind="click: stepTwo">Loading</a></li>
       <li><a href="#" class="button" data-bind="click: stepThree">Auto-suggestion</a></li>
       <li><a href="#" class="button" data-bind="click: stepFour">Direct Editing</a></li>

      </ul>
      </div>
 
      <div class="row">
        <div class="large-10 columns">
          <div class="panel">
            <h5>Schema.org Examples</h5>
            <p>Schema.org examples using HTML, RDF, Turtle, and JSON-LD</p>
            <a href="#" class="small button">Show</a>
          </div>
        </div>
 
      </div>
    </div>
 
  </div>
 
{% endblock %}


{% block more_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/svg.js/1.0.0-rc.8/svg.min.js"></script>
<script>


  function SchemaSlideViewModel() {
    var self = this;

    self.draw = SVG("animation").size(900, 600);
    self.activeSlide = self.draw.group();
    self.activeCommand = self.draw.group();

    self.web_editor_head = self.draw.text("Web Editor Workflow");
    self.web_editor_head.font({ size: 36 }).fill({ color: '#6f6f6f' }); 

    self.resetSlide = function() {
     if(self.activeSlide) { 
      self.activeSlide.remove();
     } 
     self.activeSlide = self.draw.group();
    }

     self.commandFont = { 
        size: 24, 
        family: 'Courier',  
        weight: 'bold'
      };

    self.commandColor = { color:  '#009900' };


    self.iterateList = function(list, x, y) {
      if(list.length <= 0) {
        //self.draw.text(list[0]).font(self.commandFont).fill(self.commandColor).move(x, y+11);
        return
      } else {
        var currentText = self.draw.text(list[0]).font(self.commandFont).fill(self.commandColor);
        self.activeSlide.add(currentText);
        currentText.hide().move(x, y);
        currentText.show().animate(250).after(function() {
         self.iterateList(list.slice(1), x+15, y);
        });
      }

    }

    self.stepOne = function() {
      self.resetSlide();
      self.web_editor_head.text("Start editor web-server and Fedora 4");
      var commandList = ["$ source jpn-py3-dev/bin/activate",
                         "$ cd schema_editor/fedora",
                         "$ java -jar fcrepo-webapp-4.0.0-beta-03-jetty-console.war &",
                         "$ cd ../",
                         "$ python editor.py"
                         ];
      var x_start = 5; 
      var y_start = 50;
      var total_time = 0;
      for(i in commandList) {
        var command = commandList[i];
        window.setTimeout(self.iterateList, total_time, command, x_start, y_start);
        y_start += 30;
        total_time += command.length * 250;
      }
      window.setTimeout(function() {
        var runningServer = self.draw.text("* Running on http://0.0.0.0:8100/\n* Restarting with reloader");
        runningServer.font(self.commandFont).fill(self.commandColor).move(x_start+5, y_start + 20)
        self.activeSlide.add(runningServer);
      }, total_time + 1000);
     
    }

    self.stepTwo = function() {
     self.web_editor_head.text("Opening and Loading Editor in Web Browser");
     var init_steps = ["Schema.org editor loaded into web-browser by visiting http://0.0.0.0:8100",
                       "http://schema.rdfs.org/all.json loaded into editor",
                       "New Schema.org Fedora Objects can be created, Fedora URL in display" ];
     self.resetSlide();
     var editor = self.draw.group();
     editor.add(self.draw.image("{{ url_for('static', filename='img/schema-org-editor-loading.png') }}").scale(0.4, 0.4));
     editor.hide();
     self.activeSlide.add(editor);
     var schema_rdfs = self.draw.group();
     schema_rdfs.add(self.draw.image("{{ url_for('static', filename='img/schema-rdfs-org.png') }}"));
     schema_rdfs.move(450, 45).scale(0.75, 0.75);
     schema_rdfs.hide();
     self.activeSlide.add(schema_rdfs);
     schema_rdfs_json = self.draw.group().add(self.draw.rect(150, 100).fill({ color: '#FFE347' }).stroke({ width: 1, color: '#f05' }));
     schema_rdfs_json.add(self.draw.image("{{ url_for('static', filename='img/json.png') }}").move(45,55));
     self.activeSlide.add(schema_rdfs_json);
     schema_rdfs_json.add(self.draw.text("RDF Ontology\nall.json").font({ size: 18 }).move(5, 10));
     schema_rdfs_json.move(schema_rdfs.x() + 100, schema_rdfs.y() + 250);
     schema_rdfs_json.hide();
     var headline = self.draw.text(init_steps[0]).font({ size: 22 });
     self.activeSlide.add(headline);
     headline.y(self.web_editor_head.y() + self.web_editor_head.bbox().height + 10).animate().after(function() {
       editor.show();
       editor.animate(3000, ">").y(100).after(function() {
        headline.text(init_steps[1]);
        editor.animate(2000).scale(0.75, 0.75).after(function() {
          schema_rdfs.show();
          schema_rdfs_json.show().animate(2000).dy(40).after(function() {
           schema_rdfs_json.animate(2000).dx(-500).after(function() {
            schema_rdfs_json.animate(2000).dy(-130).after(function() {
               {#
                schema_rdfs_json.hide();
                schema_rdfs.hide();
                editor.hide(); 
                  var newFedoraObject = self.draw.group();
                  self.activeSlide.add(newFedoraObject);
                  newFedoraObject.add(self.draw.image("{{ url_for('static', filename='img/schema-org-editor-2.png') }}").scale(0.7, 0.7));
                  newFedoraObject.hide().y(100);
                  headline.text(init_steps[3]);
                  newFedoraObject.show().animate(2000).dx(20).after(function() {
                    var annotations = self.draw.group();
                    annotations.add(self.draw.ellipse(250, 50).fill({ color: '#FFFFFF'}).stroke({ width: 1, color: '#0000FF'}));
                 
                  }); #}
              }); 
            });
           });
          });
        });
      });
   }

   self.stepThree = function() {
    var help = ["Autosuggest for Every Schema Type can now found by typing"];
    self.resetSlide();
    self.web_editor_head.text("HTML Autocomplete/Autosuggestion");
    var autoSuggest = self.draw.group();
    self.activeSlide.add(autoSuggest);
    autoSuggest.add(self.draw.image("{{ url_for('static', filename='img/schema-org-editor-1.png') }}").scale(0.2, 0.2));
    autoSuggest.move(10, 100);
    autoSuggest.animate(3000).scale(4, 4).after(function() {
     var autoSuggestNew = self.draw.group();
     self.activeSlide.add(autoSuggestNew );
     var autoSuggestDesc = self.draw.text('Selecting a Schema.org Type and\nclicking on the "New" button creates the object');
     autoSuggestNew.add(autoSuggestDesc);
     autoSuggestDesc.font({ size: 22 }).move(550, 200);
     var autoSuggestNewLine = self.draw.line(autoSuggestDesc.x()-120, autoSuggestDesc.y()+33, autoSuggestDesc.x()-5, autoSuggestDesc.y()+33);
     autoSuggestNewLine.stroke({ width: 2 });
     autoSuggestNew.add(autoSuggestNewLine);
     var autoSuggestNewLineArrow = self.draw.polygon();
     autoSuggestNewLineArrow.stroke({ width: 2 });
     autoSuggestNewLineArrow.plot([[(autoSuggestNewLine.x()-5), autoSuggestNewLine.y()], 
                                   [autoSuggestNewLine.x(), (autoSuggestNewLine.y()-5)], 
                                   [autoSuggestNewLine.x(), (autoSuggestNewLine.y()+5)]]);
     autoSuggestNew.add(autoSuggestNewLineArrow);
     autoSuggestNew.animate(2000).dx(-40).after(function() {
      autoSuggestNew.hide();
      var autoSuggestFind = self.draw.group();
      self.activeSlide.add(autoSuggestFind);
      var autoSuggestFindDesc = self.draw.text('Selecting a Schema.org Type and\nclicking on the "Find" button\nPops up a list of all existing\nFedora Objects of that type');
      autoSuggestFindDesc.font({ size: 22 }).move(375, 50);
      autoSuggestFind.add(autoSuggestFindDesc);
      var autoSuggestFindLine = self.draw.line(autoSuggestFindDesc.x() + 75, 160, autoSuggestFindDesc.x()+75, 200);
      autoSuggestFindLine.stroke({ width: 2 });
      autoSuggestFind.add(autoSuggestFindLine);
      var autoSuggestFindArrow = self.draw.polygon();
      autoSuggestFindArrow.stroke({ width: 2 });
      autoSuggestFindArrow.plot([[autoSuggestFindLine.x(), 205],
                                 [autoSuggestFindLine.x()-5, 200],
                                 [autoSuggestFindLine.x()+5, 200]]);
      autoSuggestFind.add(autoSuggestFindArrow);
      autoSuggestFind.animate(3000).dy(15).after(function() {
        autoSuggest.hide();
        autoSuggestFind.hide();
        var findDialog = self.draw.group();
        self.activeSlide.add(findDialog);
        findDialog.add(self.draw.image("{{ url_for('static', filename='img/schema-org-editor-3.png') }}").move(40,100).scale(0.8, 0.8));
       });
     });
    });
   }

  self.stepFour = function() {
    self.resetSlide();
    self.web_editor_head.text("Direct Editing of Schema.org Objects");
    self.web_editor_head.front();
    var help = ["Adding new or editing existing\nSchema.org Fedora Object\nuses same User Interface",
                "Each Schema.org Type's properties\ncan be added/edited/deleted\nthrough AJAX call",
                'Existing Schema.org can be\nedited by inputing URI\ninput field and clicking\non the "Edit" button'];
    var newEntity = self.draw.group();
    descriptionFont = { size: 22 };
    self.activeSlide.add(newEntity);
    var descriptions = self.draw.group();
    var description = self.draw.text(help[0]);
    var description1 = self.draw.text(help[1])
    var description2 = self.draw.text(help[2]);
    description1.font(descriptionFont).hide();
    description2.font(descriptionFont).hide();
    self.activeSlide.add(description);
    self.activeSlide.add(description1);
    self.activeSlide.add(description2);
    newEntity.add(description.font(descriptionFont).y(60));
    var crudImage = self.draw.image("{{ url_for('static', filename='img/schema-org-editor-2.png') }}");
    var uriLoadImage = self.draw.image("{{ url_for('static', filename='img/schema-org-editor-4.png') }}");
    uriLoadImage.scale(0.7, 0.7).hide();

    crudImage.scale(0.6,0.6).move(350, 10);
    self.activeSlide.add(crudImage);
    var addReplaceDelete = self.draw.group();
    self.activeSlide.add(addReplaceDelete);
    window.setTimeout(function() {
     description.animate(2500).dy(100).after(function() {
       description.fill({ color: '#A0A0A0' });
       description1.y(60).show(); 
       addReplaceDelete.add(self.draw.ellipse(110, 40).fill('none').stroke({ color: '#FF0000', width: 2 }).move(75, 150));
       addReplaceDelete.animate(2000).dmove(330, 120);
 
     });
    }, 2000);

    var inputBox = self.draw.rect(800, 60);
    inputBox.fill({ color: '#FFFFFF' }).hide();
    self.activeSlide.add(inputBox);
    window.setTimeout(function() {
     description1.show();
     description1.mouseover(function() { this.pause() });
     description1.mouseout(function() { this.play() });
     description1.animate(2500).dy(200).after(function() {
       description1.fill({ color: '#A0A0A0' });
       description2.y(60).show();
       crudImage.hide();
       addReplaceDelete.hide();
       uriLoadImage.move(350, 10).show();  
       self.commandFont = { 
        size: 24, 
        family: 'Courier',
        weight: 'bold'
        };
       self.commandColor = { color:  '#0000FF' };
       self.activeCommand = self.draw.group();
       self.web_editor_head.front();
       var uriLoad = self.draw.group();
       uriLoad.add(uriLoadImage);
       uriLoadImage.dx(-500).animate(3000).scale(2, 2).after(function() {
         uriLoadImage.dy(50);
         uriLoadImage.back();
         description.hide();
         description1.hide();
         description2.hide();
         inputBox.move(100, 413).show();
         inputBox.forward();
         self.iterateList("http://localhost:8080/rest/schema/Book/bd722834-e55a-4f78-bc13-fffafe8d7423", 110, 420); 
                          
       });
       //descriptions.add(description2);
       
     });
    // description.text(help[2]);
    }, 6000);
  }

  }
  var schema_view_model = new SchemaSlideViewModel();
  ko.applyBindings(schema_view_model);
</script>
{% endblock %}
