{% extends 'base.html' %}

{% block main %}
 {% include 'snippets/top-bar.html' %}

 <div class="row">
    <div class="large-12 columns">
      <h1>Schema.org Web Editor</h1>
      <div id="animation">

      </div>
      {#
      <ul class="schema-org-orbit" data-orbit> 
        <li class="active"> 
          <img src="{{ url_for('static', filename='img/schema-org-editor-1.png') }}" 
               alt="Schema.org Web Editor autocomplete" /> 
          <div class="orbit-caption">Schema.org Web Editor Auto-complete
          </div> 
        </li> 
        <li > 
          <img src="{{ url_for('static', filename='img/schema-org-editor-2.png') }}" 
            /> 
            <div class="orbit-caption">Schema.org  </div> 
        </li> 
        <li> 
          <img src="{{ url_for('static', filename='img/schema-org-editor-3.png') }}" 
            alt="Loading Existing Schema.org Types" /> 
          <div class="orbit-caption"> Caption </div> 
        </li> 
     </ul> #}
    </div>
  </div>
 
   
 
 
  <div class="row">
 
    <div class="large-3 panel columns">
      <img src="{{ url_for('static', filename='img/schema-org.png') }}">
 
      <h4>What is the Schema.org vocabulary?</h4>
 
      <p>
       "a collection of schemas that webmasters can use to markup HTML pages in 
       ways recognized by major search providers, and that can also be used for 
       structured data interoperability (e.g. in JSON). Search engines including 
       Bing, Google, Yahoo! and Yandex rely on this markup to improve the display 
       of search results, making it easier for people to find the right Web pages."<br>
       <em>Text from schema.org homepage</em>
      <p>
      <hr>
      <div class="row">
        <div class="large-6 columns">
        <a href="http://schema.org/" class="small button">Website</a>
        </div>
 
        <div class="large-6 columns">
        <a href="http://schema.rdfs.org/" class="small button">RDFS</a>
        </div>
 
      </div>
    </div>
 
    <div class="large-9 columns">
      <div class="panel">
      </div>
 
      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h5>Schema.org Examples</h5>
            <p>Schema.org examples using HTML, RDF, Turtle, and JSON-LD</p>
            <a href="#" class="small button">Show</a>
          </div>
        </div>
 
        <div class="large-6 columns">
          <div class="panel">
            <h5>Subheader</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button">Link</a>
          </div>
        </div>
      </div>
    </div>
 
  </div>
 
{% endblock %}


{% block more_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/svg.js/1.0.0-rc.8/svg.min.js"></script>
<script>


  function SchemaSlideViewModel() {
    var self = this;
    self.draw = SVG("animation").size(9090909090909090900, 600);
    self.activeSlide = self.draw.group();

    self.web_editor_head = self.draw.group();
    self.web_editor_head.add(self.draw.text("Web Editor Workflow").font({ size: 36 }));

    self.resetSlide = function() {
     if(self.activeSlide) { 
      self.activeSlide.remove();
     } 
     self.activeSlide = self.draw.group();
    }

     self.commandFont = { 
        size: 24, 
        family: 'Courier',  
        weight: 'bold'
      };

    self.commandColor = { color:  '#009900' };


    self.iterateList = function(list, x, y) {
      if(list.length <= 0) {
        //self.draw.text(list[0]).font(self.commandFont).fill(self.commandColor).move(x, y+11);
        return
      } else {
        var currentText = self.draw.text(list[0]).font(self.commandFont).fill(self.commandColor);
        self.activeSlide.add(currentText);
        currentText.hide().move(x, y);
        currentText.show().animate(250).after(function() {
         self.iterateList(list.slice(1), x+15, y);
        });
      }

    }

    self.stepOne = function() {
      self.resetSlide();
      var commandList = ["$ source jpn-py3-dev/bin/activate",
                         "$ cd schema_editor/fedora",
                         "$ java -jar fcrepo-webapp-4.0.0-beta-03-jetty-console.war &",
                         "$ cd ../",
                         "$ python editor.py"
                         ];
      var x_start = 5; 
      var y_start = 50;
      var total_time = 0;
      for(i in commandList) {
        var command = commandList[i];
        window.setTimeout(self.iterateList, total_time, command, x_start, y_start);
        y_start += 30;
        total_time += command.length * 250;
      }
      window.setTimeout(function() {
        var runningServer = self.draw.text("* Running on http://0.0.0.0:8100/\n* Restarting with reloader");
        runningServer.font(self.commandFont).fill(self.commandColor).move(x_start+5, y_start + 20)
        self.activeSlide.add(runningServer);
      }, total_time + 1000);
      window.setTimeout(self.stepTwo, total_time + 4000);
     
    }

    self.stepTwo = function() {
     var init_steps = ["Schema.org editor loaded into web-browser by visiting http://0.0.0.0:8100",
                       "http://schema.rdfs.org/all.json loaded into editor"];
     self.resetSlide();
     var editor = self.draw.group();
     editor.add(self.draw.image("{{ url_for('static', filename='img/schema-org-editor-1.png') }}").scale(0.5, 0.5));
     editor.hide();
     self.activeSlide.add(editor);
     var schema_rdfs = self.draw.group();
     schema_rdfs.add(self.draw.image("{{ url_for('static', filename='img/schema-rdfs-org.png') }}"));
     schema_rdfs.move(450, 45).scale(0.75, 0.75);
     schema_rdfs.hide();
     self.activeSlide.add(schema_rdfs);
     schema_rdfs_json = self.draw.group().add(self.draw.rect(150, 100).fill({ color: '#FFFFFF' }).stroke({ width: 1, color: '#f05' }));
     schema_rdfs_json.add(self.draw.image("{{ url_for('static', filename='img/json.png') }}").move(5,5));
     self.activeSlide.add(schema_rdfs_json);
     schema_rdfs_json.add(self.draw.text("RDF Ontology\nall.json").font({ size: 18 }).y(40));
     schema_rdfs_json.move(schema_rdfs.x() + 100, schema_rdfs.y() + 250);
     schema_rdfs_json.hide();
     var headline = self.draw.text(init_steps[0]).font({ size: 22 });
     self.activeSlide.add(headline);
     headline.y(self.web_editor_head.y() + self.web_editor_head.bbox().height + 10).animate().after(function() {
       editor.show();
       editor.animate(3000, ">").y(100).after(function() {
        headline.text(init_steps[1]);
        editor.animate(2000).scale(0.75, 0.75).after(function() {
          schema_rdfs.show();
          schema_rdfs_json.show().animate(2000).dy(40).after(function() {
           schema_rdfs_json.animate(2000).dx(-500).after(function() {
            schema_rdfs_json.animate(2000).dy(-50);
           });
          });
        });
      });
     });
   }

  }
  var schema_view_model = new SchemaSlideViewModel();
  ko.applyBindings(schema_view_model);
</script>
{% endblock %}
